 .banner img {
   width: 100%;
   height: auto;
   max-height: 300px;
 }

 .header {
   background-color: rgb(234, 235, 240);
   text-align: start;
   padding: 10px;
   margin-left: 5%
 }

 .header a button {
   font-size: 14px;
   color: #000000;
   border-width: 1px;
   border-radius: 10px;
   padding: 10px 30px;
   cursor: pointer;
   margin-right: 10px;
 }

 .header a button:hover {
   background-color: #2d7e9c;
   color: #fff;
   border: none;
 }

 .header a.active button {
   font-size: 14px;
   color: #fff;
   background-color: #2d7e9c;
   border: none;
   border-radius: 10px;
   padding: 10px 30px;
   cursor: default;
   margin-right: 10px;
 }

 .title {
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .title-text {
   font-family: 'Times New Roman', Times, serif;
   color: #333;
 }

 body {
   background-color: rgb(234, 235, 235);
 }


 .container {
   padding-left: 5%;
   padding-right: 5%;

 }

 .container button{
  cursor: pointer;
  margin-left: 10px;
 }

 #map {
   height: 700px;
   border: #333;
 }

 footer {
   font-family: 'Times New Roman', Times, serif;
   margin-top: 50px;
   padding: 10px;
   background-color: #beb8b8;
   color: #333;
 }